<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="main-header navbar navbar-expand-lg navbar-light bg-white shadow-sm px-3">
        <!-- Left Navbar Links -->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="@{/}" class="nav-link">
                    <i class="fas fa-home me-1"></i> Home
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="@{/organiser/logout}" class="nav-link text-danger">
                    <i class="fas fa-sign-out-alt me-1"></i> Logout
                </a>
            </li>
        </ul>
    </nav>
    
</div>
<div th:fragment="footer">
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Cloud247.ai
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2025 <a th:href="@{/}">Pydah-E PORTAL</a>
    </footer>
</div>